<nav class="navbar-fixed navbar">
    <div class="nav-wrapper">
        <div class="navbar-header pad__20">
            <!-- Collapsed Hamburger -->
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <!-- Branding Image -->
            <a class="brand-logo" [routerLink]="['/']">
                <span>{{appName}}</span>
            </a>
        </div>

        <div id="cat-list">
            <app-six-category-list></app-six-category-list>
        </div>

        <div class="authentication__bar">
            <app-authentication-bar></app-authentication-bar>
        </div>

    </div>
</nav>