<div class="card post__comment_count_holdr">
    <ul class="post__comment_count">
        <li class="comment__info"><p id="comments__count">9999999</p><p id="comment__text">comments</p></li>

        <ul class="comments__tab">
            <li><a href="javascript:void(0);" class="active">Hot</a></li>
            <li><a href="javascript:void(0);">New</a></li>
        </ul>
    </ul>
</div>

<!--Comment container-->
<div class="comment__container">
    <!--add Comment box-->
    <form method="post">
        <div class="card comment__textarea_card">
            <div class="avatar__area" style="background-image: url(/assets/images/user_images/13.jpg)">
                <!--<img src="/assets/images/user_images/13.jpg" alt="johns profile">-->
            </div>

            <textarea placeholder="Write comment here..." class="add__comment_textarea" name="addComment" id="add__comment" rows="10"></textarea>
            <div class="clear"></div>
        </div>
    </form>

    <!--comment Area-->
    <div class="comment__area_holdr">

    </div>
</div>