<div class="card card__post_holdr">
    <div class="card-content">
        <a [routerLink]="['/6ix/IUndsHSZN4J']">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
    </div>
    <div class="card-image">
        <div class="hidden__pro_info">
            <a href="#">
                <img src="/assets/images/user_images/25.jpg" alt="johns profile"/>
                <div class="info__holdr">
                    <span>John Doe</span> <span>-</span> <span>2 min ago</span>
                </div>
            </a>
        </div>
        <a [routerLink]="['/6ix/IUndsHSZN4J']"><img src="/assets/images/user_images/11.jpg" alt="ad for blah blah blah"/></a>
    </div>
    <div class="card-action">
        <div class="row no-margin">
            <div class="col s12 feed__back_count_holder">
                <div class="feed__back_info"><span id="feed__back_count"><span>9999999</span> - upvotes</span></div>
                <div class="feed__back_info"><span id="feed__back_count"><span>9999999</span> - comments</span></div>
            </div>
            <div class="col s12">
                <div class="divider"></div>
            </div>
            <div class="col s2">
                <a href="javascript: void(0);" class="btn btn-flat btn-default waves-effect bordered btn__feed_back waves-effect">
                    <i class="material-icons">i</i>
                </a>
            </div>
            <div class="col s2">
                <a href="javascript: void(0);" class="btn btn-flat btn-default waves-effect bordered btn__feed_back waves-effect">
                    <i class="material-icons">!</i>
                </a>
            </div>
            <div class="col s2">
                <a href="javascript: void(0);" class="btn btn-flat btn-default waves-effect bordered btn__feed_back waves-effect">
                    <i class="material-icons">!</i>
                </a>
            </div>
            <div class="col s3">
                <a href="#" class="btn blue darken-4 waves-effect">Facebook</a>
            </div>
            <div class="col s3">
                <a href="#" class="btn light-blue lighten-3 waves-effect">Twitter</a>
            </div>
        </div>
        <div class="hori__divider"></div>
    </div>
</div>